@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  color: #fff;
  padding: 12px 0;
  margin-bottom: 54px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  min-height: 56px;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.logo_link {
}
.navbar-munu {
  display: flex;
}
.navbar-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.navbar-item + .navbar-item {
  margin-left: 80px;
}
.navbar-link {
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.navbar-phone_link {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.main {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}
.main-image {
}
.main-img {
}
.main-img path {
  transition: all 0.5s;
  opacity: 0;
}
.main-img path:hover {
  opacity: 1;
  cursor: pointer;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}
.main-title {
  font-family: "Bebas Neue Cyrillic";
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}
.counrer-group {
  display: flex;
  flex-direction: column;
  height: 185px;
  align-items: center;
  justify-content: space-between;
}
.counrer-btn {
  width: 32.11px;
  height: 19.84px;
}
.counrer-btn__up {
}
.counrer {
  color: #635854;
  font-size: 120px;
}
.counrer-btn__down {
  transform: rotateX(180deg);
}
.main-btn__primary {
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;

  background: #3596f5;
  border-radius: 6px;
  padding: 16px 36px;
  text-align: center;
  width: 297px;
  height: 51px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}
footer {
  border-top: 4px solid #3596f5;
  margin-top: 100px;
  box-sizing: border-box;
  background: #d7d7d7;
}
.footer {
  display: flex;
  min-height: 171px;
  align-items: center;
  justify-content: space-between;
}
.logo {
}
.footer-contacts {
  text-align: left;
}
.footer-contacts__span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #635854;

  margin-bottom: 5px;
  display: block;
}
.footer-contacts__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  color: #635854;
}
.sicial-icons {
  margin-right: 20%;
}
.sicial-icons__link {
  margin: 0 15px;
}
.sicial-icons__img {
}
.politicy {
}
.politicy-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;
  margin: 0 10px;
  color: #635854;
}
